@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  font-weight: 500;
  height: 100vh;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.App {
  text-align: center;
  /* padding: 0 15px; */
  max-width: 100%;
  width: 90%;
  margin: auto;
}
.page-content {
  position: relative;
  height: 80vh;
}
.page-content p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (min-width: 1800px) {
  .App {
    width: 70%;
  }
}
@media (min-width: 1200px) {
  .App {
    width: 80%;
  }
}
